@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.cta {
  margin: 8px 12px;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  border: 0px solid;
  cursor: pointer;
}

.cta.--primary {
  background-color: #002089;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 2px;
}

.cta.--secondary {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  letter-spacing: 1px;
}

hr {
  width: 90%;
  margin: 12px auto;
  border: 0px;
  border-top: 1px solid #bbb;
}